<div class="w-full  flex flex-col md:flex-row bg-[#fcfef6]">
    <div class="slogan w-full md:w-1/2 flex-col content-center justify-center ps-8 pt-10">
        <h3 class="text-[28px] leading-[42px] text-[#48552c]">Skip the salon visit – beauty services at your doorstep</h3>
        <span class="text-[28px] leading-[42px] text-[#48552c]">with</span><h1 class="text-[#cc8484] text-[48px] leading-[72px] mt-8 ">HomeBeauty!</h1>
        <button class="bg-[#BBD483] rounded-full px-8 py-4 flex gap text-base mt-8">Download App 
            
<svg class="mt-1" width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 7.67334L8 9.67334L10 7.67334" stroke="#4D2A2A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8 9.67342V4.34009" stroke="#4D2A2A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4 11.0068C6.59333 11.8735 9.40667 11.8735 12 11.0068" stroke="#4D2A2A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    
        </button>
    </div>
    <div class="heroPic w-full md:w-1/2  flex justify-center items-center">
        <img [src]="heroPicSrc" class="w-[368px] h-full" alt="HairdresserTeam"/>

    </div>

</div>

